OPENAI_API_KEY=sk-..........
TELEGRAM_TOKEN=42...........
FLASK_ENV=production
CLIENT_ID=u-sjkfjd..........
CLIENT_SECRET=s-sjkfjs......
TOK_URL=https://api.intra.42.fr/v2/oauth/token
API_URL=https://api.intra.42.fr/v2
SCOPES=public

